#  烟雨江南   
# Hexo Configuration


# Site
title: 烟雨江南
subtitle: 江南好，风景旧曾谙。
description:   菜鸡前端前端工程师一枚
keywords: 烟雨江南
author: 烟雨江南
language: zh-CN
timezone:

# URL

url: https://mistyrain-jiangnan.top
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: false

prism_plugin:
  mode: 'preprocess'    # realtime/preprocess
  theme: 'tomorrow'
  line_number: true    # default false
  custom_css:

search:
  path: search.xml
  field: post

permalink_pinyin:
  enable: true
  separator: '-' # default: '-'

wordCount:
  enable: true # 将这个值设置为 true 即可.
  postWordCount: true
  min2read: true
  totalCount: true

feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

Plugins:
- hexo-generator-baidu-sitemap
- hexo-generator-sitemap

baidusitemap:
    path: baidusitemap.xml
sitemap:
    path: sitemap.xml
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 12
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 12
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: matery

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
- type: git
  repo: git@github.com:mistyrain-jiangnan/mistyrain-jiangnan.github.io.git 
  branch: master
- type: baidu_url_submitter

# baidu submit
baidu_url_submit:
  count: 80                                      # 提交最新的一个链接
  host:    # 在百度站长平台中注册的域名
  token: XXXXXXXXXXXXXXX    # 请注意这是您的秘钥， 所以请不要把博客源代码发布在公众仓库里!
  path: baidu_urls.txt                # 文本文档的地址， 新链接会保存在此文本文档里



live2d:
  enable: true
  scriptFrom: local
  pluginRootPath: live2dw/
  pluginJsPath: lib/
  pluginModelPath: assets/
  tagMode: false
  log: false
  # model:
  #   use: live2d-widget-model-shizuku
  model:
    use: live2d-widget-model-shizuku
  display:
    position: right
    width: 150
    height: 200
  mobile:
    show: true
  react:
    opacity: 0.7
   
githubEmojis:
  enable: true
  className: github-emoji
  inject: true
  styles:
    # font-size: 5em
    # font-weight: bold
  customEmojis:

# marked:
#   gfm: true
#   pedantic: false
#   breaks: true
#   smartLists: true
#   smartypants: true
#   modifyAnchors: ''
#   autolink: true
#   sanitizeUrl: false
#   headerIds: true

# lazyload configuration  
lazyload:
  enable: true 
  onlypost: true
  loadingImg: https://cdn.jsdelivr.net/gh//cdn@1.0/sakura/img/loader/orange.progress-bar-stripe-loader.svg    # eg ./images/loading.gif